<p>fordirective works!</p>
<!-- 
    *ngFor="let item of arrayName"
    - U can apply any html tag 

-->

<div class="container">
<table class="table table-bordered table-dark">
    <thead>
        <tr>
            <th>Sr No</th>
            <th>Product Name</th>
            <th>Product Price</th>
            <th>Product Qty</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of arrProduct;index as i">
            <td> {{i+1}} </td>
            <td> {{product.name}} </td>
            <td> {{product.price}} </td>
            <td> {{product.qty}} </td>
        </tr>
    </tbody>
</table>
</div>